<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Username</mat-label>
        <input
          matInput
          id="username"
          type="username"
          name="username"
          formControlName="username"
          (blur)="updateUsernameErrorMessage()"
        />
        @if (usernameErrorMessage() !== '') {
        <mat-error>{{ usernameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Email address</mat-label>
        <input
          matInput
          id="email"
          type="email"
          name="email"
          formControlName="email"
          (blur)="updateEmailErrorMessage()"
        />
        @if (emailErrorMessage() !== '') {
        <mat-error>{{ emailErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row" formGroupName="passwords">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          type="password"
          name="password"
          formControlName="password"
          (blur)="updatePwdErrorMessage()"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (pwdErrorMessage() !== '') {
        <mat-error>{{ pwdErrorMessage() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
          (blur)="updateConfirmPwdErrorMessage()"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (confirmPwdErrorMessage() !== '') {
        <mat-error form.errors>{{ confirmPwdErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button>Submit</button>
    </div>
    <a class="auth-hint" routerLink="/login">Login here</a>
  </form>
</div>
