<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Username</mat-label>
        <input
          matInput
          id="username"
          type="username"
          name="username"
          formControlName="username"
          (blur)="updateUsernameErrorMessage()"
        />

        <!-- Display check if input valid, else the error message -->
        @if(usernameErrorMessage() === '') {
        <mat-icon matSuffix matSuffix>check_circle</mat-icon>
        } @else {
        <mat-error>{{ usernameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Email address</mat-label>
        <input
          matInput
          id="email"
          type="email"
          name="email"
          formControlName="email"
          (blur)="updateEmailErrorMessage()"
        />

        <!-- Display check if input valid, else the error message -->
        @if(emailErrorMessage() === '') {
        <mat-icon matSuffix matSuffix>check_circle</mat-icon>
        } @else {
        <mat-error>{{ emailErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row" formGroupName="passwords">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          type="password"
          name="password"
          formControlName="password"
          (blur)="updatePwdErrorMessage()"
          [type]="hide() ? 'password' : 'text'"
        />

        <!-- Display check if pwd and confirmPwd valid -->
        @if(pwdErrorMessage() === '' && confirmPwdErrorMessage() === '') {
        <mat-icon matSuffix matSuffix>check_circle</mat-icon>
        }

        <!-- Button to show or hide password -->
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <!-- Display invalid password error message  -->
        @if (pwdErrorMessage() !== '') {
        <mat-error>{{ pwdErrorMessage() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
          (blur)="updateConfirmPwdErrorMessage()"
          [type]="hide() ? 'password' : 'text'"
        />

        <!-- Display check if pwd and confirmPwd valid -->
        @if(pwdErrorMessage() === '' && confirmPwdErrorMessage() === '') {
        <mat-icon matSuffix matSuffix>check_circle</mat-icon>
        }

        <!-- Button to show or hide password -->
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <!-- Display invalid password error message  -->
        @if (confirmPwdErrorMessage() !== '') {
        <mat-error form.errors>{{ confirmPwdErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button color="primary" [disabled]="isRegistering()">
        <span *ngIf="!isRegistering()">Submit</span>
        <mat-spinner *ngIf="isRegistering()" diameter="20"></mat-spinner>
      </button>
    </div>
    <a class="ref-link" routerLink="/login">Login</a>
  </form>
</div>
