<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          type="email"
          name="email"
          formControlName="email"
          (blur)="updateEmailErrorMessage()"
        />
        @if (form.controls.email.invalid) {
        <mat-error>{{ emailErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="email"
          type="email"
          name="email"
          formControlName="password"
          (blur)="updatePwdErrorMessage()"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (form.controls.password.invalid) {
        <mat-error>{{ pwdErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <a class="auth-hint" routerLink="/register">Register here</a>
  </form>
</div>
