<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-link">
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          type="email"
          name="email"
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-link">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="email"
          type="email"
          name="email"
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="onHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-row">
      <a mat-raised-button routerLink="/" color="primary">Submit</a>
    </div>
    <a class="register-hint" routerLink="/register">Register here</a>

    @if (form.touched && form.invalid) {
    <p class="control-error">Email or password invalid!</p>
    }
  </form>
</div>
