<form>
  <p class="input">
    <mat-form-field>
      <mat-label>Enter YouTube Link</mat-label>
      <input matInput />
    </mat-form-field>
  </p>
  <p class="input">
    <mat-form-field>
      <mat-label>Quiz Type</mat-label>
      <mat-select>
        <mat-option value="mc">Multiple Choice</mat-option>
        <mat-option value="text">Text based</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p class="input">
    <mat-form-field>
      <mat-label>Difficulty</mat-label>
      <mat-select>
        <mat-option value="easy">Easy</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="hard">Hard</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p class="button-container">
    <button mat-raised-button type="submit">Submit</button>
  </p>
</form>
