<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChange($event)"
>
  <!-- Tab 1: Quiz List -->
  <mat-tab label="My Quizzes">
    @if(isLoadingQuizzes()) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
      <p>Loading quizzes...</p>
    </div>
    } @else if(quizzes().length > 0) {
    <div class="sort-container">
      <label for="sort" class="sort-label">Sort by:</label>
      <mat-select id="sort" class="sort-select" [(value)]="sortBy">
        <mat-option value="dateCreated,desc">Newest first</mat-option>
        <mat-option value="dateCreated,asc">Oldest first</mat-option>
      </mat-select>

      <mat-paginator
        [length]="totalItems()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="[3, 5, 10]"
        aria-label="Select page"
        [pageIndex]="currentPage()"
        (page)="onPaginatorChange($event)"
      >
      </mat-paginator>
    </div>

    <div class="quiz-list-container">
      <!-- Quiz List -->
      <div class="quiz-list">
        @for(quiz of quizzes(); track quiz.quizId) {
        <app-quiz [quiz]="quiz" (quizDeleted)="onDeleteQuiz()" />
        }
      </div>
    </div>
    } @else {
    <div class="main-page-container">
      <div class="main-msg">
        <p>No quizzes found.</p>
        <a mat-raised-button color="primary" routerLink="/quizzes/new">
          Create New Quiz
        </a>
      </div>
    </div>
    }
  </mat-tab>

  <!-- Tab 2: Quiz Jobs List -->
  <mat-tab label="Request History">
    @defer(when selectedTabIndex() === 1) {
    <app-quiz-requests />
    }
  </mat-tab>
</mat-tab-group>
