.sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  gap: 20px;
}

.page-size-label {
  margin-left: 20px;
  font-weight: bold;
}

.page-size-select {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 70px;
}

.sort-label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-select {
  width: 155px;
  font-size: 16px;
}

.quiz-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  justify-content: space-between;
}

.quiz-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.pagination-button {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  background-color: #4b8dff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.page-numbers {
  display: block;
  align-items: center;
  gap: 5px;
}

.pagination-number {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  color: var(--font-color);
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.pagination-number.active {
  background-color: #4b8dff;
  color: white;
  font-weight: bold;
}

.pagination-button:hover,
.pagination-number:hover {
  background-color: #005cbb;
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-size: 1.2em;
}

.loading-container mat-spinner {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .loading-container {
    height: 60vh;
  }
}
