<div class="build-info-container">
  <span>
    <a
      href="https://app.circleci.com/pipelines/circleci/6FfqBzs4fBDyTPvBNqnq5x/WCAab585ez56Du7MgmTwE1"
    >
      <img
        src="https://dl.circleci.com/status-badge/img/circleci/6FfqBzs4fBDyTPvBNqnq5x/8HU8omXUEUaEgrpWMj271K/tree/main.svg?style=shield&circle-token=545d0058e25f4566f54a9282ef976f6a8a77b327"
        alt="CircleCI Build $BUILD_NUMBER"
      /> </a
  ></span>
  |
  <span>
    <a href="https://github.com/AndreasX42/QuizStream/commit/$GIT_SHA">
      <img
        src="GitHub_Logo.png"
        alt="GitHub Commit $GIT_SHA"
        style="width: 80px; vertical-align: middle"
      /> </a
  ></span>
  |
  <span>Last Update: $BUILD_DATE</span>
</div>

<div class="about-container">
  <h1>Welcome to QuizStream!</h1>
  <p>
    QuizStream is a project designed to turn YouTube videos into interactive
    quizzes. Whether you're a teacher, content creator, or just someone who
    enjoys learning, QuizStream helps you create quizzes with minimal effort.
  </p>

  <h2>What Does QuizStream Do?</h2>
  <p>
    All you need is a YouTube video from which you want to create a quiz.
    QuizStream handles the rest, automatically generating questions based on the
    video’s content. You can also decide on the difficulty and the language of
    the quiz. At the current stage, we use OpenAI's ChatGPT to process the
    transcripts of the videos, so it is required to provide a corresponding API
    key. You can get one
    <a class="ref-link" href="https://platform.openai.com/api-keys" target="_blank">here</a>. To
    get started, an API key is already provided to try the app out.
  </p>

  <h2>How It Works - The Tech Stack</h2>
  <p>QuizStream is built with a modern setup:</p>
  <ul>
    <li>
      <strong>Frontend:</strong> An Angular interface that’s smooth and easy to
      use.
    </li>
    <li>
      <strong>Backend:</strong> A Spring Boot service that manages all the data
      and handles requests.
    </li>
    <li>
      <strong>AI Service:</strong> Python-based processing that turns video
      content into quiz questions.
    </li>
    <li>
      <strong>Database:</strong> A reliable PostgreSQL database to store quizzes
      and user information.
    </li>
  </ul>

  <h2>Why Use QuizStream?</h2>
  <p>
    Whether you’re teaching, preparing content, or just want to test your
    knowledge, QuizStream makes quiz creation simple and fun. It’s a small
    project aimed at making learning more interactive.
  </p>

  <p>
    This project is open source and available on GitHub. Check it out and
    contribute at
    <a class="ref-link" href="https://github.com/AndreasX42/QuizStream" target="_blank"
      >QuizStream on GitHub</a
    >.
  </p>
</div>
