<div class="build-info-container">
  <span>
    <a href="https://github.com/AndreasX42/QuizStream" target="_blank">
      <img
        src="GitHub_Logo.png"
        alt="GitHub Commit $GIT_SHA"
        style="width: 100px; vertical-align: middle"
      /> </a
  ></span>
  |
  <span>
    <a
      href="https://app.circleci.com/pipelines/circleci/6FfqBzs4fBDyTPvBNqnq5x/WCAab585ez56Du7MgmTwE1"
      target="_blank"
    >
      <img
        src="https://dl.circleci.com/status-badge/img/circleci/6FfqBzs4fBDyTPvBNqnq5x/8HU8omXUEUaEgrpWMj271K/tree/main.svg?style=shield&circle-token=545d0058e25f4566f54a9282ef976f6a8a77b327"
        style="width: 100px; vertical-align: middle"
        alt="CircleCI Build $BUILD_NUMBER"
      /> </a
  ></span>
  |
  <span>
    <a href="{{ baseUrl }}/api-docs/swagger-ui/index.html" target="_blank">
      <img
        src="Swagger_UI.png"
        alt="Swagger UI Logo"
        style="width: 100px; vertical-align: middle"
      /> </a
  ></span>
  |
  <span>Last Update: $BUILD_DATE</span>
</div>

<div class="about-container">
  <h1>Welcome to QuizStream!</h1>
  <p>
    Thank you for joining us! QuizStream is aimed at making learning more
    engaging by turning YouTube videos into interactive quizzes. Whether you're
    a teacher, a content creator or just someone who loves to learn, QuizStream
    simplifies the process of creating quizzes based on video content.
  </p>

  <h2>What Can QuizStream Do for You?</h2>
  <p>
    With QuizStream, all you need is a YouTube video that you'd like to turn
    into a quiz. The application does the heavy lifting for you, automatically
    generating questions from the video's content. You can customize the quiz by
    setting the difficulty level and by choosing the language.
  </p>
  <p>
    To make this magic happen, QuizStream uses a language model to analyze the
    video transcript. You'll need an API key of some LLM service to use this
    feature, but don't worry—getting started is easy, and we've even included an
    API key to help you try it out right away.
  </p>

  <h2>How Does QuizStream Work?</h2>
  <p>
    We've built QuizStream with a modern and user-friendly design to make your
    experience smooth and enjoyable. Here’s how it all comes together:
  </p>
  <ul>
    <li>
      <strong>Easy-to-Use Interface:</strong> Our sleek Angular-based frontend
      makes navigating and using QuizStream a breeze.
    </li>
    <li>
      <strong>Powerful Backend:</strong>We use Spring Boot to handle all the
      data and requests behind the scenes.
    </li>
    <li>
      <strong>Smart AI Processing:</strong> Our Python-based AI service converts
      video content into quiz questions effortlessly.
    </li>
    <li>
      <strong>Reliable Data Storage:</strong> Your quizzes and user information
      are safely stored in a PostgreSQL database.
    </li>
  </ul>

  <h2>Why Choose QuizStream?</h2>
  <p>
    QuizStream is perfect for anyone looking to make learning more interactive
    and fun. Whether you're preparing for a class, creating content or simply
    testing your knowledge, QuizStream makes it easy to create quizzes with
    minimal effort.
  </p>

  <p>
    Best of all, QuizStream is open-source! We welcome you to explore the
    project on GitHub, where you can see how it works, suggest improvements or
    even contribute to its development. Check out
    <a
      class="ref-link"
      href="https://github.com/AndreasX42/QuizStream"
      target="_blank"
      >QuizStream on GitHub</a
    >
    and become part of our community!
  </p>
</div>
