<div class="build-info-container">
  <span
    >Last Build Number:
    <a
      href="https://app.circleci.com/pipelines/circleci/6FfqBzs4fBDyTPvBNqnq5x/WCAab585ez56Du7MgmTwE1/$BUILD_NUMBER"
      target="_blank"
      >$BUILD_NUMBER</a
    ></span
  >
  |
  <span
    >Git Commit SHA:
    <a
      href="https://github.com/AndreasX42/QuizStream/commit/$GIT_SHA"
      target="_blank"
      >$GIT_SHA</a
    ></span
  >
  |
  <span>Build Time (UTC): $BUILD_DATE</span>
</div>

<div class="about-container">
  <h1>Welcome to QuizStream!</h1>
  <p>
    QuizStream is a hobby project designed to turn YouTube videos into
    interactive quizzes. Whether you're a teacher, content creator, or just
    someone who enjoys learning, QuizStream helps you create quizzes with
    minimal effort.
  </p>

  <h2>What Does QuizStream Do?</h2>
  <p>
    All you need is a YouTube link. QuizStream handles the rest—automatically
    generating questions based on the video’s content. You can customize the
    quiz format and create something engaging in just a few clicks.
  </p>

  <h2>Features</h2>
  <ul>
    <li>
      <strong>Automatic Quiz Generation:</strong> Quickly turn videos into
      quizzes.
    </li>
    <li>
      <strong>Multiple Question Types:</strong> Choose from different formats
      like multiple choice.
    </li>
    <li>
      <strong>User-Friendly Interface:</strong> Clean and easy-to-navigate
      design.
    </li>
    <li>
      <strong>Powerful Backend:</strong> Reliable technology that handles quiz
      generation and data storage.
    </li>
    <li>
      <strong>AI-Powered Content Analysis:</strong> Smart algorithms that
      generate relevant questions.
    </li>
  </ul>

  <h2>How It Works</h2>
  <p>QuizStream is built with a modern setup:</p>
  <ul>
    <li>
      <strong>Frontend:</strong> An Angular interface that’s smooth and easy to
      use.
    </li>
    <li>
      <strong>Backend:</strong> A Spring Boot service that manages all the data
      and handles requests.
    </li>
    <li>
      <strong>AI Service:</strong> Python-based processing that turns video
      content into quiz questions.
    </li>
    <li>
      <strong>Database:</strong> A reliable PostgreSQL database to store quizzes
      and user information.
    </li>
  </ul>

  <h2>Why Use QuizStream?</h2>
  <p>
    Whether you’re teaching, preparing content, or just want to test your
    knowledge, QuizStream makes quiz creation simple and fun. It’s a small hobby
    project aimed at making learning more interactive.
  </p>

  <p>
    This project is open source and available on GitHub. Check it out and
    contribute at
    <a href="https://github.com/AndreasX42/QuizStream" target="_blank"
      >QuizStream on GitHub</a
    >.
  </p>
</div>
