<div class="main-page-container">
  <div class="main-msg">
    <h3>Welcome to QuizStream!</h3>
    <p>Create and take quizzes instantly.</p>
  </div>

  @if(!isLoggedIn()) {
  <div class="auth-buttons">
    <p>Join the community and start quizzing today!</p>
    <a
      mat-raised-button
      color="primary"
      routerLink="/login"
      class="auth-button"
    >
      Already have an account? Log in!
    </a>
    <a
      mat-raised-button
      color="primary"
      routerLink="/register"
      class="auth-button"
    >
      New to QuizStream? Register Now!
    </a>
  </div>
  } @else {
  <a
    mat-raised-button
    color="primary"
    routerLink="/quizzes/new"
    class="auth-button"
  >
    Get Started!
  </a>
  }
</div>
