.table-container {
  margin: 2rem auto;
  max-width: 50rem;
  padding: 1rem;
}

.actions-column {
  padding-right: 35px;
  text-align: right;
  justify-content: flex-end;

}

.content-column {
  padding-left: 35px;
  text-align: left;
  justify-content: left;
}

table {
  width: 100%;
}

.form-note {
  margin-top: 15px;
  text-align: left;
}
