@if(isLoading()) {
<div class="loading-container">
  <mat-spinner />
  <p>Loading data...</p>
</div>
} @else if(leaderboardEntries().length > 0) {
<div class="sort-container">
  <label for="lbSort" class="sort-label">Sort by:</label>
  <mat-select
    id="lbSort"
    class="sort-select"
    [(value)]="sortBy"
    (selectionChange)="reloadData()"
  >
    <mat-option value="score">Score</mat-option>
    <mat-option value="quizzes">Quizzes</mat-option>
    <mat-option value="attempts">Attempts</mat-option>
    <mat-option value="questions">Questions</mat-option>
    <mat-option value="answers">Answers</mat-option>
  </mat-select>

  <label for="lbDir" class="sort-label">Order:</label>
  <mat-select
    id="lbDir"
    class="dir-sort-select"
    [(value)]="sortDir"
    (selectionChange)="reloadData()"
  >
    <mat-option value="desc">Descending</mat-option>
    <mat-option value="asc">Ascending</mat-option>
  </mat-select>

  <mat-paginator
    [length]="totalItems()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Select page"
    [pageIndex]="currentPage()"
    (page)="onPaginatorChange($event)"
  >
  </mat-paginator>
</div>

<div class="leaderboard-table-container">
  <table mat-table [dataSource]="leaderboardEntries()" class="mat-elevation-z8">
    <!-- Define table columns -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="username-header">
        <div class="header-content">
          <span class="column-header">Username</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let entry">
        <div class="username-row">
          {{ entry.username }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="numberQuizzes">
      <th mat-header-cell *matHeaderCellDef class="num-quizzes-header">
        <div class="header-content">
          <span class="column-header">#Quizzes</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let entry">
        <div class="num-quizzes-row">
          {{ entry.numberQuizzes }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="numberQuestions">
      <th mat-header-cell *matHeaderCellDef class="num-questions-header">
        <div class="header-content">
          <span class="column-header">#Questions</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let entry">
        <div class="num-questions-row">
          {{ entry.numberQuestions }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="numberAttempts">
      <th mat-header-cell *matHeaderCellDef class="num-attempts-header">
        <div class="header-content">
          <span class="column-header">#Attempts</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let entry">
        <div class="num-attempts-row">
          {{ entry.numberAttempts }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="numberCorrectAnswers">
      <th mat-header-cell *matHeaderCellDef class="num-correct-header">
        <div class="header-content">
          <span class="column-header">#CorrectAnswers</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let entry">
        <div class="num-correct-row">
          {{ entry.numberCorrectAnswers }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef class="score-header">
        <div class="header-content">
          <span class="column-header">Score</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let entry">
        <div class="score-row">{{ entry.score }}%</div>
      </td>
    </ng-container>

    <!-- Table headers and rows -->
    <tr mat-header-row *matHeaderRowDef="displayedRequestColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedRequestColumns"></tr>
  </table>
</div>

} @else {
<div class="main-page-container">
  <div class="main-msg">
    <p>Leaderboard currently empty.</p>
  </div>
</div>
}
