@if(isLoadingRequests()) {
<div class="loading-container">
  <mat-spinner></mat-spinner>
  <p>Loading requests...</p>
</div>
} @else {

<div class="sort-container">
  <label for="requestSort" class="sort-label">Sort by:</label>
  <mat-select
    id="requestSort"
    class="sort-select"
    [(value)]="sortBy"
    (selectionChange)="reloadRequests()"
  >
    <mat-option value="dateCreated,desc">Newest first</mat-option>
    <mat-option value="dateCreated,asc">Oldest first</mat-option>
  </mat-select>

  <label for="requestStatus" class="sort-label">Request status:</label>
  <mat-select
    id="requestStatus"
    class="req-sort-select"
    [(value)]="requestStatus"
    (selectionChange)="reloadRequests()"
  >
    <mat-option *ngFor="let type of requestStatusList" [value]="type">{{
      getEnumDisplayName(type)
    }}</mat-option>
  </mat-select>

  <mat-paginator
    [length]="totalItems()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Select page"
    [pageIndex]="currentPage()"
    (page)="onPaginatorChange($event)"
  >
  </mat-paginator>
</div>

@if(requests().length > 0) {
<div class="requests-table-container">
  <table mat-table [dataSource]="requests()" class="mat-elevation-z8">
    <!-- Define table columns -->
    <ng-container matColumnDef="quizName">
      <th mat-header-cell *matHeaderCellDef class="quiz-name-header">
        <div class="header-content">
          <mat-icon>menu</mat-icon>
          <span class="column-header">Quiz Name</span>
        </div>
      </th>
      <td
        mat-cell
        *matCellDef="let request"
        matTooltipClass="mat-tooltip"
        [matTooltip]="getMetadataTooltip(request.metadata)"
        [matTooltipPosition]="'right'"
      >
        <div class="quiz-name-row">
          {{ request.quizName | titlecase }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="column-header">Status</th>
      <td mat-cell *matCellDef="let request">
        <button mat-raised-button [color]="getStatusColor(request.status)">
          <ng-container *ngIf="request.status === 'CREATING'; else showStatus">
            <span>CREATING</span>
            <mat-progress-bar mode="indeterminate" color="accent" />
          </ng-container>
          <ng-template #showStatus>
            <span>{{ request.status }}</span>
          </ng-template>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef class="column-header">
        Date Created
      </th>
      <td mat-cell *matCellDef="let request">
        {{ request.dateCreated | date : "MM/dd/yy" }}<br />
        {{ request.dateCreated | date : "HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateFinished">
      <th mat-header-cell *matHeaderCellDef class="column-header">
        Date Finished
      </th>
      <td mat-cell *matCellDef="let request">
        {{ request.dateFinished | date : "MM/dd/yy" }}<br />
        {{ request.dateFinished | date : "HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="errorMessage">
      <th mat-header-cell *matHeaderCellDef class="column-header">
        System Message
      </th>
      <td mat-cell *matCellDef="let request">
        <div class="error-message">
          {{
            request.errorMessage
              ? request.errorMessage
              : request.status === "FAILED"
              ? "Unexpected error processing request. Please try again later."
              : request.status === "FINISHED"
              ? "Request succeeded."
              : ""
          }}
        </div>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="column-header">Actions</th>
      <td mat-cell *matCellDef="let request">
        <button
          mat-icon-button
          color="warn"
          (click)="onDeleteQuizRequest(request.userId, request.quizName)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table headers and rows -->
    <tr mat-header-row *matHeaderRowDef="displayedRequestColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedRequestColumns"></tr>
  </table>
</div>
} @else {
<div class="main-page-container">
  <div class="main-msg">
    <p>No requests found.</p>
    <a mat-raised-button color="primary" routerLink="/quizzes/new">
      Create New Quiz
    </a>
  </div>
</div>
} }
