<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Quiz Name</mat-label>
        <input
          matInput
          formControlName="name"
          formControlName="name"
          (blur)="updateNameErrorMessage()"
        />
        @if (nameErrorMessage() !== '') {
        <mat-error>{{ nameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>YouTube Link</mat-label>
        <input
          matInput
          formControlName="videoLink"
          (blur)="updateLinkErrorMessage()"
        />
        @if (linkErrorMessage() !== '') {
        <mat-error>{{ linkErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-option">
        <mat-label>Quiz Type</mat-label>
        <mat-select formControlName="type"
          ><mat-option *ngFor="let type of quizTypesList" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field-option">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty"
          ><mat-option
            *ngFor="let difficulty of quizDifficultiesList"
            [value]="difficulty"
            >{{ difficulty }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button>Submit</button>
    </div>
  </form>
</div>
