<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>Quiz Name</mat-label>
        <input
          matInput
          formControlName="quizName"
          formControlName="quizName"
          (blur)="updateQuizNameErrorMessage()"
        />

        <!-- Display check if input valid, else the error message -->
        @if(quizNameErrorMessage() === '') {
        <mat-icon matSuffix matSuffix>check_circle</mat-icon>
        } @else {
        <mat-error>{{ quizNameErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-text">
        <mat-label>YouTube Link</mat-label>
        <input
          matInput
          placeholder="https://www.youtube.com/watch?v="
          formControlName="videoLink"
          (blur)="updateLinkErrorMessage()"
        />

        <!-- Display check if input valid, else the error message -->
        @if(linkErrorMessage() === '') {
        <mat-icon matSuffix matSuffix>check_circle</mat-icon>
        } @else {
        <mat-error>{{ linkErrorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="mat-form-field-option">
        <mat-label>Quiz Type</mat-label>
        <mat-select formControlName="type"
          ><mat-option *ngFor="let type of quizTypesList" [value]="type">{{
            getEnumDisplayName(type)
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field-option">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty"
          ><mat-option
            *ngFor="let difficulty of quizDifficultiesList"
            [value]="difficulty"
            >{{ getEnumDisplayName(difficulty) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field-option">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language"
          ><mat-option *ngFor="let language of quizLanguages" [value]="language"
            >{{ getEnumDisplayName(language) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button [disabled]="isCreating()">
        <span *ngIf="!isCreating()">Submit</span>
        <mat-spinner *ngIf="isCreating()" diameter="20"></mat-spinner>
      </button>
    </div>
  </form>
</div>
