<mat-card class="quiz-card" (click)="onToggleExpansion()">
  <mat-card-header>
    <div class="header-content">
      <mat-card-title class="mat-card-title">{{ quiz().name }}</mat-card-title>
      <span class="header-date">{{ quiz().date | date }}</span>
    </div>
  </mat-card-header>

  @if(isExpanded()) {
  <div>
    <mat-card-content class="mat-card-content">
      <p>Type: {{ quiz().type | titlecase }}</p>
      <p>Difficulty: {{ quiz().difficulty | titlecase }}</p>
      <p class="content-row">
        <a [href]="quiz().videoLink" target="_blank">{{ quiz().videoLink }}</a>
        <button
          mat-raised-button
          color="warn"
          (click)="onDeleteQuiz(quiz().id)"
        >
          Delete
        </button>
      </p>
    </mat-card-content>
  </div>
  }
</mat-card>
