@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

form {
  margin: 2rem auto;
  max-width: 50rem;
  min-width: 25rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.mat-form-field-link {
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.form-field {
  width: 50%;
  padding: 5px;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .form-field,
  .mat-form-field-link {
    width: 100%;
  }
}

.mat-icon-button {
  margin-left: 16px;
}

.control-error {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #d51c1c;
  height: 0.5rem;
  padding: 0.25rem 0 0 0;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #869999;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty label,
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: #d51c1c;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
  background-color: #fbdcd6;
  border-color: #f84e2c;
}

.main-page-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: center;
  flex-direction: column;
}

.main-msg h4 {
  font-size: 2rem;
  margin: 10px 0;
  color: #ff6b6b;
}

.main-msg h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.main-msg p {
  font-size: 1.2rem;
  margin: 15px 0;
}
