@use '@angular/material' as mat;
@use "./app/custom_theme.scss" as custom_themes;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body, app-root, app-header, .app-frame {
  overflow: auto;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Define Light and Dark Mode */
html.lightMode {
  --form-background: #f7f7f7;
  --font-color: #333;
  @include mat.all-component-themes(custom_themes.$light-theme);
}

html.darkMode {
  --form-background: #424242;
  --font-color: #f7f7f7;
  @include mat.all-component-themes(custom_themes.$dark-theme);
}

a.ref-link {
  color: #0c9ad7 !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


/* CSS for Forms */

form {
  margin: 2rem auto;
  max-width: 35rem;
  min-width: 25rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--form-background);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-container .mat-form-field-text {
  width: 100%;
  margin-bottom: 5px;
}

.form-container .form-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.form-container .mat-form-field-option {
  width: 40%;
  padding: 0px;
}

.form-container .mat-form-field-option-small {
  width: 25%;
  padding: 0px;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .form-field,
  mat-form-field-text {
    width: 100%;
  }
}

/* CSS for messages on main page */

.main-page-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  text-align: center;
  flex-direction: column;
}

.main-msg h4 {
  font-size: 2rem;
  margin: 10px 0;
  color: #ff6b6b;
}

.main-msg h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.main-msg p {
  font-size: 1.2rem;
  margin: 15px 0;
}