form {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.button {
  display: flex;
  justify-content: center;
}

.mat-form-field-link {
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-field {
  width: 50%;
  padding: 5px;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .form-field {
    width: 100%;
  }
}
