<div class="profile-container">
  <div class="profile">
    <h2>User Profile</h2>
    <p><strong>User ID:</strong> {{ user()?.id }}</p>
    <p><strong>Role:</strong> {{ user()?.role | titlecase }}</p>
    <p><strong>Username:</strong> {{ user()?.username }}</p>
    <p><strong>Email:</strong> {{ user()?.email }}</p>
    <p><strong>Session Expires In:</strong> {{ sessionTimeLeft() }}</p>
    <p>
      <strong>Enable Dark Mode (Beta):</strong>
      <mat-slide-toggle
        class="theme-toggle"
        color="accent"
        [checked]="selectedDarkMode()"
        (click)="toggleTheme()"
      >
      </mat-slide-toggle>
    </p>
    <div class="btn-profile">
      <button mat-raised-button color="primary" (click)="deleteAccount()">
        Delete Account
      </button>
    </div>

    <div class="logout-button-container">
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
