.dialog-container {
  padding: 10px;
  text-align: center;
}

.dialog-title {
  color: #15a138;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 10px;
}

.dialog-content {
  color: var(--font-color);
  font-size: 1rem;
  margin: 20px;
}

.dialog-button {
  margin: 10px;
}
