mat-toolbar {
  background-color: #005cbb !important;
}

a[mat-button] {
  color: #ffffff;
  margin-right: 10px;
}

a[mat-button]:hover {
  background-color: #00409c;
}

.spacer {
  flex: 1 1 auto;
}

.selected {
  background-color: #00409c;
}