<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      {{ title() }}
    </a>

    <span class="spacer"></span>

    @if(isLoggedIn()) {
    <a
      mat-button
      [routerLink]="['/quizzes']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="selected"
    >
      My Quizzes
    </a>

    <a mat-button [routerLink]="['quizzes', 'new']" routerLinkActive="selected">
      Create Quiz
    </a>

    }

    <a mat-button [routerLink]="['leaderboard']" routerLinkActive="selected">
      Leaderboard
    </a>

    <a mat-button [routerLink]="['/about']" routerLinkActive="selected">
      About
    </a>

    <a mat-button routerLinkActive="selected" [matMenuTriggerFor]="account"
      >Account</a
    >
    <mat-menu #account="matMenu">
      @if(isLoggedIn()) {
      <button mat-menu-item routerLink="/profile">User Profile</button>
      <button mat-menu-item routerLink="/keys">API Keys</button>
      <button mat-menu-item (click)="logout()">Logout</button>
      } @else {
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item routerLink="/register">Register</button>
      }
      <button mat-menu-item [matMenuTriggerFor]="appearance">Appearance</button>
    </mat-menu>

    <mat-menu #appearance="matMenu">
      <button mat-menu-item (click)="toggleThemeByName('light')">Light</button>
      <button mat-menu-item (click)="toggleThemeByName('dark')">
        Dark (Beta)
      </button>
      <button mat-menu-item (click)="toggleThemeByName('system-default')">
        System Default
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
