<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      {{ title() }}
    </a>

    <span class="spacer"></span>

    @if(isLoggedIn()) {
    <a
      mat-button
      [routerLink]="['/quizzes']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="selected"
    >
      My Quizzes
    </a>

    <a mat-button [routerLink]="['quizzes', 'new']" routerLinkActive="selected">
      Create Quiz
    </a>

    <a mat-button [routerLink]="['/keys']" routerLinkActive="selected">
      API Keys
    </a>
    }

    <a
      mat-button
      [routerLink]="isLoggedIn() ? ['/profile'] : ['/login']"
      routerLinkActive="selected"
    >
      {{ isLoggedIn() ? "Profile" : "Login" }}
    </a>
  </mat-toolbar-row>
</mat-toolbar>
