.quiz-container {
  margin: 20px auto;
  max-width: 45rem;
  min-width: 25rem;
  padding: 2rem;
  text-align: center;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 40px;
  max-width: 750px;
}

.answer-option {
  text-align: center;
}

.answer-grid button {
  padding: 30px 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.answer-option.correct button {
  background-color: #4caf50;
  color: white;
}

.answer-option.incorrect button {
  background-color: #f44336;
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-size: 1.2em;
}

.loading-container mat-spinner {
  margin-bottom: 15px;
}

.context {
  margin-top: 50px;
}
