.quiz-container {
  margin: 20px auto;
  max-width: 45rem;
  min-width: 30rem;
  padding: 2rem;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 50px;
}

.answer-option {
  text-align: center;
}

.answer-grid button {
  padding: 30px 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.answer-option.correct button {
  background-color: #4caf50;
  color: white;
}

.answer-option.incorrect button {
  background-color: #f44336;
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-size: 1.2em;
}

.loading-container mat-spinner {
  margin-bottom: 15px;
}

.context {
  margin-top: 50px;
}

.progress-bar .mat-progress-bar {
    height: 10px;
  }

.progress-bar  .mat-progress-bar-fill::after {
    background-color: #37474f;
}

.progress-bar  .mat-progress-bar-buffer {
    background-color: #90a4ae;
}

.progress-bar  .mat-progress-bar-background {
    animation: none;
    background-color: #eceff1;
    fill: #eceff1;
}