<mat-progress-bar
  class="progress-bar"
  mode="determinate"
  color="accent"
  value="{{ (currentQuestionIndex() / numberOfQuestions) * 100 }}"
></mat-progress-bar>

@if(isLoadingQuiz()) {
<div class="loading-container">
  <mat-spinner></mat-spinner>
  <p>Loading quiz...</p>
</div>
} @else if(isCompleted()) {
<div class="quiz-container">
  <p>
    Congratulations, you solved
    {{ numberOfCorrectAnswers() }} out of {{ numberOfQuestions }} questions
    correctly!
  </p>

  <a mat-raised-button [routerLink]="['/quizzes']"> Go Back To List </a>
</div>
} @else if(currentQuestion()) {
<div class="quiz-container">
  <div class="question-container">
    <h4>{{ currentQuestion()!.question }}</h4>
  </div>
  <div class="answer-grid">
    @for(answer of answerOptions; track $index) {
    <div
      class="answer-option"
      [ngClass]="{
        correct: showResult() && answer === currentQuestion()!.correctAnswer,
        incorrect:
          showResult() &&
          selectedAnswerIndex === $index &&
          answer !== currentQuestion()!.correctAnswer
      }"
    >
      <button
        mat-raised-button
        (click)="selectAnswer(answer, $index)"
        [disabled]="showResult()"
      >
        {{ answer }}
      </button>
    </div>
    }
  </div>

  @if(showResult()) {
  <button mat-raised-button color="primary" (click)="goToNextQuestion()">
    Next Question
  </button>

  <mat-card class="context" appearance="outlined">
    <mat-card-header><i>Section of video transcript</i></mat-card-header>
    <mat-card-content>...{{ currentQuestion()!.context }}...</mat-card-content>
  </mat-card>
  }
</div>
}
