<mat-card class="quiz-card" (click)="onToggleExpansion()">
  <mat-card-header>
    <div class="header-content">
      <mat-card-title class="mat-card-title">{{
        quiz().quizName | titlecase
      }}</mat-card-title>
      <span class="header-date">{{ quiz().dateCreated | date }}</span>
    </div>
  </mat-card-header>

  @if(isExpanded()) {
  <div>
    <mat-card-content class="mat-card-content">
      <p>Type: {{ getEnumDisplayName(quiz().type) }}</p>
      <p>Difficulty: {{ getEnumDisplayName(quiz().difficulty) }}</p>
      <p class="content-row">
        <a
          [href]="'https://www.youtube.com/watch?v=' + quiz().metadata.videoUrl"
          target="_blank"
          >{{
            "https://www.youtube.com/watch?v=" + quiz().metadata.videoUrl
              | slice : 12 : 35
          }}...</a
        >
        <button mat-raised-button color="warn" (click)="onDeleteQuiz(quiz())">
          Delete
        </button>
      </p>
    </mat-card-content>
  </div>
  }
</mat-card>
