<mat-card class="quiz-card" (click)="onToggleExpansion()">
  <mat-card-header>
    <div
      mat-card-avatar
      class="header-image"
      [ngStyle]="{
        'background-image': 'url(' + quiz().metadata.thumbnailUrl + ')'
      }"
    ></div>
    <div class="header-content">
      <mat-card-title class="mat-card-title">{{
        quiz().quizName | titlecase
      }}</mat-card-title>
      <span class="header-date">{{ quiz().dateCreated | date }}</span>
    </div>
  </mat-card-header>

  @if(isExpanded()) {
  <div>
    <mat-card-content class="mat-card-content">
      <div class="section stacked">
        <div class="bounded-area">
          <p>Video Summary: --- Small video summary, TBI ---</p>
          <a
            [href]="
              'https://www.youtube.com/watch?v=' + quiz().metadata.videoUrl
            "
            target="_blank"
            >{{
              "https://www.youtube.com/watch?v=" + quiz().metadata.videoUrl
                | slice : 12 : 35
            }}...</a
          >
        </div>
        <div class="bounded-area">
          <p>Type: {{ getEnumDisplayName(quiz().type) }}</p>
          <p>Difficulty: {{ getEnumDisplayName(quiz().difficulty) }}</p>
          <p>Attempts: {{ quiz().numTries }}</p>
          <p>Correct Answers: {{ quiz().numCorrect }}</p>
        </div>
      </div>
      <p class="content-row">
        <button
          mat-raised-button
          color="warn"
          (click)="onDeleteQuiz(quiz())"
          [disabled]="isDeleting()"
        >
          <span *ngIf="!isDeleting()">Delete</span>
          <mat-spinner *ngIf="isDeleting()" diameter="20"></mat-spinner>
        </button>
      </p>
    </mat-card-content>
  </div>
  }
</mat-card>
